.mat-toolbar {
  top: 0;
  z-index: 2; /* Ensure toolbar appears above content */
}

.content {
  margin-top: 64px; /* Adjust margin to account for toolbar height */
  padding: 20px;
}

.mat-table {
  width: 100%;
}
