<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>User Details</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content">
  <div class="user-details-card">
    <mat-card>
      <mat-card-content>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon>person</mat-icon>
            <h3 mat-line>Name: {{userDetails.name}}</h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>location_on</mat-icon>
            <h3 mat-line>Address: {{userDetails.address}}</h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>assignment_ind</mat-icon>
            <h3 mat-line>Username: {{userDetails.username}}</h3>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon>badge</mat-icon>
            <h3 mat-line>Role: {{userDetails.role}}</h3>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>
