.toolbar-flex {
  flex: 1 0.5 auto;
}

.mat-tab-link{
  flex: 1 0.5 auto;
}

.mat-mdc-tab-group, .mat-mdc-tab-nav-bar {
  --mdc-tab-indicator-active-indicator-color: #c2185b;
  --mat-tab-header-disabled-ripple-color: rgba(255, 255, 255, 0.5);
  --mat-tab-header-pagination-icon-color: #fff;
  --mat-tab-header-inactive-label-text-color: rgba(0, 0, 0, 0.925);
  --mat-tab-header-active-label-text-color: #c2185b;
  --mat-tab-header-active-ripple-color: #c2185b;
  --mat-tab-header-inactive-ripple-color: #c2185b;
  --mat-tab-header-inactive-focus-label-text-color: rgba(245, 164, 164, 0.952);
  --mat-tab-header-inactive-hover-label-text-color: rgba(247, 59, 59, 0.705);
  --mat-tab-header-active-focus-label-text-color: #c2185b;
  --mat-tab-header-active-hover-label-text-color: #c2185b;
  --mat-tab-header-active-focus-indicator-color: #c2185b;
  --mat-tab-header-active-hover-indicator-color: #c2185b;
}

.logout-button {
  /* Your styles for the logout button */
  background-color: #c2185b;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.logout-button:hover {
  /* Hover styles for the logout button */
  background-color: #a40e4f;
}

.logout-button:active {
  /* Active (clicked) styles for the logout button */
  background-color: #910b45;
}
